*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: #fff;
}
body {
  background: black;
}
/* nav css */
nav {
  width: 100%;
  position: fixed !important;
  left: 0;
  top: 0;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
  z-index: 10;
  background: black;
}
div#navbarTogglerDemo02 {
  justify-content: end;
}

p{
  font-size: 16px;
}
.navbar-brand {
  font-weight: bold;
  color: white;
  font-size: 50px;
  background: black !important;
}

.nav-link {
  color: white !important;
  font-weight: bold;
  /* border-bottom:  1px solid var(--primary) transparent !important ; */
}

.nav-link:hover {
  border-bottom: 1px solid white !important;
}

.navbar-dark .navbar-brand {
  color: #fff;
  font-size: 50px;
}

/* about */
#About{
  color: white;
  text-align: center;
  color: darkgray;

}
.abt-list{
  color: white  
  ; text-align: center; 
  margin-top: 60px;
}
/* members css */
.para{
  font-size: 12px ;
  text-align: center;
}
img.mem-img {
  width: 100%;
  max-width: 370px;
  height: 350px;
}
.name-div{
  padding: 30px 0px;
}
.members-text{
  padding-top: 30px;
}
.mem-para{
  padding: 60px;
}
/* Animation css */

.animation-div h2 {
  text-align: center;
  padding-bottom: 30px;
}


body {
  background: #000;
  color: #000;
}

/* Amusement css */

.amusement-div h2{
  text-align: center;
  padding: 30px 0px;
}

/* Animatronics css */
.animatronics-div h2{
  text-align: center;
  padding: 30px 0px;
}

/* footer css */
.btn-div{
  text-align: center;
 
}



.swiper.swiper-initialized.swiper-horizontal.mySwiper2 {
  width: 60%;
}


